Flask
openai>=1.40.0
git+https://github.com/Laboratory-for-Energy-Systems-Analysis/carculator_utils.git
git+https://github.com/Laboratory-for-Energy-Systems-Analysis/carculator.git
git+https://github.com/Laboratory-for-Energy-Systems-Analysis/carculator_truck.git
git+https://github.com/Laboratory-for-Energy-Systems-Analysis/carculator_bus.git
git+https://github.com/Laboratory-for-Energy-Systems-Analysis/carculator_two_wheeler.git
gunicorn